.footer
	.footer__lists
		ul.footer-list
			li.footer-list__item
				a.footer-list__link(href="") White Papers
			li.footer-list__item
				a.footer-list__link(href="") Virtualization Webinars
			li.footer-list__item
				a.footer-list__link(href="") Product Demos
			li.footer-list__item
				a.footer-list__link(href="") Contact Sales
		ul.socials-list
			li.socials-list__item
				a.social-list__link.twitter(href="/") 
					span.text-hide twitter
			li.socials-list__item
				a.social-list__link.inshare(href="/") 
					span.text-hide inshare
			li.socials-list__item
				a.social-list__link.google(href="/") 
					span.text-hide google+
			li.socials-list__item
				a.social-list__link.facebook(href="/") 
					span.text-hide facebook
	span.copyright Copyright © 2015 Veeam® Software.
		a.copyright__link(href="/") Privacy policy