.header-container
	.header-top-space
	.header-topline
	.header
		a.logo-link(href='/')
			img.logo-image(src="./images/logo.png", alt="Veeam Modern Data Protection")
		img.header__title(src="./images/mdb_n1_backup.png", alt="Modern Data Protection")
		