.related-content__description.enterprise
	h1.h1-heading Enterprise Edition
	h1.h1-heading CIO study Shows Capability, Complexity and Cost Issues Hampering IT Departments
	span.related-content__description__text Veeam reveals the findings of the recent SMB data protection survey:
	.related-content__img-ul-wrapper
		.related-content__img-wrapper
			.related-content__img-wrapper__relative-wrapper
				img.related-content__image(src="./images/preview-annual-dp-report.png", alt="Annual SMB report")
				a.look-button.show-popup(href="/")
		ul.related-content__list
			li.list-item.no-marker Key findings:
			li.list-item 85% of SMBs are experiencing cost-related challenges with backup and recovery, 83% with capability and 80% with complexity
			li.list-item 67% of the virtual environment is backed-up meaning that almost a third of SMBs’ virtual infrastructure is unprotected
			li.list-item More than 1 in 6 (17%) recoveries of backed-up machines cause problems
			li.list-item 41% of SMBs stated that downtime in the event of an IT failure costs $150,000 or more per hour
	span.plain-text Download the <span class="bold">full report</span> to learn more and get the <span class="bold">previous editions</span> (2011 and 2010)