.related-content__description.SMB.display-block
	h1.h1-heading SMB Edition
	h1.h1-heading 85% of SMB's Experiencing Problems with Backup and Recovery
	h2.h2-heading Report shows 55% will change backup tool by 2014
	span.related-content__description__text Veeam reveals the findings of the recent SMB data protection survey:
	.related-content__img-ul-wrapper
		.related-content__img-wrapper
			.related-content__img-wrapper__relative-wrapper
				img.related-content__image(src="./images/annual-smb-report.jpg", alt="Annual SMB report")
				a.look-button.show-popup(href="/")
		ul.related-content__list
			li.list-item 85% of SMBs are experiencing cost-related challenges with backup and recovery, 83% with capability and 80% with complexity
			li.list-item 67% of the virtual environment is backed-up meaning that almost a third of SMBs’ virtual infrastructure is unprotected
			li.list-item More than 1 in 6 (17%) recoveries of backed-up machines cause problems
			li.list-item 41% of SMBs stated that downtime in the event of an IT failure costs $150,000 or more per hour
	h2.h2-heading Infographics - SMB challenges with data protection in brief
	.related-content__gallery
		.gallery__img-left
			img.gallery__img(src="./images/smb_ingographics_web_preview_1_cut.png", alt="")
		.gallery__img-right
			img.gallery__img(src="./images/smb_ingographics_web_preview_2_cut.png", alt="")
	a.full-info-link(href="") Click to view the full size infographics
