.related-content.enterprise
	.related-content__header
		h1.header-inscription Annual Data Protection Report 2013:
			span.header-inscription__yellow Enterprise and SMB Editions
		h2.header-subscription Survey of 500 enterprises and 500 small / medium businesses across USA, UK, Germany and France
	.related-content__inner
		.related-content__description
			h1.h1-heading Enterprise Edition
			h1.h1-heading CIO study Shows Capability, Complexity and Cost Issues Hampering IT Departments
			span.related-content__description__text Veeam reveals the findings of the recent SMB data protection survey:
			.related-content__img-ul-wrapper
				.related-content__img-wrapper
					.related-content__img-wrapper__relative-wrapper
						img.related-content__image(src="./images/preview-annual-dp-report.png", alt="Annual SMB report")
						a.look-button.show-popup(href="/")
				ul.related-content__list
					li.list-item.no-marker Key findings:
					li.list-item 85% of SMBs are experiencing cost-related challenges with backup and recovery, 83% with capability and 80% with complexity
					li.list-item 67% of the virtual environment is backed-up meaning that almost a third of SMBs’ virtual infrastructure is unprotected
					li.list-item More than 1 in 6 (17%) recoveries of backed-up machines cause problems
					li.list-item 41% of SMBs stated that downtime in the event of an IT failure costs $150,000 or more per hour
			span.plain-text Download the <span class="bold">full report</span> to learn more and get the <span class="bold">previous editions</span> (2011 and 2010)
		.related-content__form-wrapper
			form.related-content__form(id="register-form")
				p.form-heading Register here
				.form-list-wrapper
					ul.form-list
						li.form-item
							label.form-label.required(for="first-name") First name
							input.form-input(form="register-form" name="" type="text" id="first-name")
						li.form-item
							label.form-label.required(for="last-name") Last Name
							input.form-input(form="register-form" name="" type="text" id="last-name")
						li.form-item
							label.form-label.required(for="email") Business email
							input.form-input(form="register-form" name="" type="text" id="email")
						li.form-item
							label.form-label.required(for="company") Company
							input.form-input(form="register-form" name="" type="text" id="company")
						li.form-item
							label.form-label.required(for="select-job") Job Title
							select.form-select(form="register-form" name="" value="" id="select-job")
								option.select-option(value="Select job description" disabled selected) Select job description
								option.select-option(value="Job Title 1") Job Title 1
								option.select-option(value="Job Title 2") Job Title 2
								option.select-option(value="Job Title 3") Job Title 3
								option.select-option(value="Job Title 4") Job Title 4
						li.form-item
							label.form-label.required(for="select-country") Country
							select.form-select(form="register-form" name="" id="select-country")
								option.select-option(value="United States") United States
								option.select-option(value="Russia") Russia
								option.select-option(value="Canada") Canada
								option.select-option(value="Brazil") Brazil
								option.select-option(value="UK") UK
						li.form-item
							label.form-label(for="select-state") State
							select.form-select(form="register-form" name="" value="" id="select-state")
								option.select-option(value="Select State" disabled selected) Select State
								option.select-option(value="Alabama") Alabama
								option.select-option(value="Alaska") Alaska
								option.select-option(value="Arizona") Arizona
								option.select-option(value="Arkansas") Arkansas
								option.select-option(value="California") California
					button.form-button Register