doctype html

html(lang='ru')

	head
		meta(charset='utf-8')
		meta(name='description', content='template')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		
		link(rel='shortcut icon', href='images/favicon/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='images/favicon/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='images/favicon/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='images/favicon/apple-touch-icon-114x114.png')

		script(src='js/plugins-head.min.js')

		link(rel="stylesheet", href="css/main.min.css")
		
		title
			block title

	body
		.wrapper
			.container
				include ../_common/_header
				include ../_sections/_breadcrumbs
				.content-container
					.content
						.related-content-wrapper
							.tab-wrapper
								label.related-content__label.label_active(id='SMB') SMB Edition
								label.related-content__label(id='enterprise') Enterprise Edition
							include ../_sections/_related-content-smb
							include ../_sections/_related-content-enterprise
							include ../_sections/_popup-video
						include ../_common/_footer
		script(src='js/plugins.min.js')
		script(src='js/main.min.js')
